:root{
    --navbar-height: 40px;

    /* fonts */
    /* --small-text: 0.75em;
    --smaller-text: 0.9em;
    --normal-text: 1em;
    --bigger-text: 1.4em;
    --big-title-text: 2em; */


    --small-text: 0.75em;
    --paragraph-text: 1em;
    --header-text: 1.5em;
    --main-title-text: 5em;


    /* rest */
    --primary-2000: #0d1317;
    --primary-1500: #141a1f;
    --primary-1000: #252e3d;
    --primary-750: #1c313f;
    --primary-500: #2e566f;
    --primary-250: #689fba;
    --primary-150: #95b7c0;
    --primary-100: #b6e5ea;
    --primary-0: #e4f2f3;

    --gray-1500: #1c1b1b;
    --gray-1000: #3D3D3D;
    --gray-750: #666666;
    --gray-500: #898989;
    --gray-250: #E0E0E0;



    /* shadows */
    --blue-vivid-shadow: #6727f23d;
    --green-vivid-shadow: rgba(29, 163, 83, 0.356);
    --green-vivid-shadow-mild: rgba(29, 163, 83, 0.089);
    --primary-0-shadow: rgba(245, 246, 250, 0.116);

    /* SHAPES */
    --border-rad-main: 5px;
    --border-rad-smaller: 3px;
    --border-rad-big: 15px;


}

:root{
  overflow: hidden;
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
